section {
  font-family: "Montserrat";
  padding: 0px;
}

::placeholder {
  font-size: 1em;
  color: B5B5B5;
  font-family: "Montserrat";
}

h1 {
  margin: 30px 30px 60px 30px;
  font-size: 38px;
  color: white;
  text-align: center;
  font-weight: 500;
}

span {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 500;
  color: gray;
}

.grid {
  display: grid;
  max-width: 360px;
  margin: 0 auto;
}

.input-card {
  max-height: 20px;
  border-radius: 7px;
  align-content: center;
  margin-bottom: 60px;
}

.input {
  height: 100%;
  outline: none;
  border: none;
  font-size: 1.3em;
  color: B5B5B5;
  font-family: "Montserrat";
}

.input-button {
  float: right;
  height: 30px;
  width: 70px;
  background-color: #3c6ffb;
  color: white;
  text-align: center;
  top: -3px;
  font-size: 18px;
  line-height: 0px !important;
  text-transform: uppercase;
}

.tasks-card {
  padding: 20px 15px 90px 18px;
}

.list {
  padding-top: 40px;
}

.mat-divider {
  border-top-color: #b7b7b7;
  max-width: 92%;
  margin-top: 3px;
  margin-left: 3%;
  margin-right: 5%;
  margin-bottom: 30px;
  align-self: center;
}

.task-done {
  text-decoration: line-through;
  position: unset;
}

span > .icon-done {
  color: green;
  letter-spacing: 0%;
}

.item-done {
  margin-left: 30px;
}

.trash-icon {
  height: 0px !important;
  float: right;
  line-height: 0%;
  text-align: center;
  margin-right: 5px;
  color: red;
}

.mat-icon {
  position: absolute;
}

.mat-icon-button i,
.mat-icon-button .mat-icon {
  line-height: 19px;
}

.material-icons {
  line-height: 17px;
}
