<section class="grid">
  <h1>TO-DO LIST</h1>
  <mat-card class="input-card mat-elevation-z10">
    <input class="input" placeholder="What do you want to do" 
    type="text" [(ngModel)]="task.task" name="task">
    <button class="input-button" mat-flat-button  (click)="addTask()">
      add
    </button>
  </mat-card>
   
  <mat-card class="tasks-card mat-elevation-z5" >
    <div class="list" *ngFor="let item of tasks" >
      <span *ngIf="item.done == false" (click)="setDone(item)">
        {{item.task}}
      </span>
      <span class="task-done" *ngIf="item.done == true"
        (click)="unsetDone(item)">
         <mat-icon class="icon-done">done</mat-icon>
          <span class="item-done">{{item.task}}</span> 
      </span> 
      <button class="trash-icon" mat-icon-button 
      (click)="deleteTask(item)">
        <mat-icon class="mat-icon">delete_outline</mat-icon>
      </button>
      <mat-divider class="mat-divider"></mat-divider>
    </div>
  </mat-card>   
</section>

